@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 2rem;
}
.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 750px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 99%;
  height: 80%;
  border-radius: 12px;
  border: #ffffffff solid 5px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #f9f9f975;
  color: #86de22;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 30vh 10px;
  height: 50px;
  width: 50px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.dot {
  background-color: #460ee0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #edb315f3;
}
